:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #306cce;
  --ifm-color-primary-darker: #2d66c3;
  --ifm-color-primary-darkest: #2554a0;
  --ifm-color-primary-light: #538ce9;
  --ifm-color-primary-lighter: #72a1ed;
  --ifm-color-primary-lightest: #9abcf2;
  --ifm-global-radius: 0.4rem;
  --ifm-font-family-base: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  --ifm-background-color: #ffffff;
}

html[data-theme='dark'] {
  --ifm-color-primary: #3578e5;
  --ifm-background-color: #1b1b1d;
  --ifm-color-emphasis-500: #8d949e;
}

.button {
  transition-timing-function: var(--ifm-transition-timing-default);
  vertical-align: middle;
  font-weight: var(--ifm-font-weight-bold);
}

.container {
  margin: 0 auto;
  max-width: var(--ifm-container-width);
  width: 100%;
  padding: 0 var(--ifm-spacing-horizontal);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--ifm-spacing-horizontal) * -1);
}

.col {
  flex: 1 0;
  margin-left: 0;
  max-width: 100%;
  padding: 0 var(--ifm-spacing-horizontal);
}
